@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Architects+Daughter|Righteous|Chewy|Kaushan+Script|Gloria+Hallelujah|Fredoka+One|Permanent+Marker|Luckiest+Guy|Patrick+Hand|Cherry+Cream+Soda|Walter+Turncoat|Sansita+One|Lemon|Carter+One|Unkempt:400,700|Short+Stack|Henny+Penny|Titan+One|Rammetto+One|Delius+Unicase:400,700|Spicy+Rice|Original+Surfer);

body{
  font-family: 'Architects Daughter', cursive;
}

/*font-family: 'Indie Flower', cursive;

font-family: 'Architects Daughter', cursive;

font-family: 'Righteous', cursive;

font-family: 'Chewy', cursive;

font-family: 'Kaushan Script', cursive;

font-family: 'Gloria Hallelujah', cursive;

font-family: 'Fredoka One', cursive;

font-family: 'Permanent Marker', cursive;

font-family: 'Luckiest Guy', cursive;

font-family: 'Patrick Hand', cursive;

font-family: 'Cherry Cream Soda', cursive;

font-family: 'Walter Turncoat', cursive;

font-family: 'Sansita One', cursive;

font-family: 'Lemon', cursive;

font-family: 'Carter One', cursive;

font-family: 'Unkempt', cursive;

font-family: 'Short Stack', cursive;

font-family: 'Henny Penny', cursive;

font-family: 'Titan One', cursive;

font-family: 'Rammetto One', cursive;

font-family: 'Delius Unicase', cursive;

font-family: 'Spicy Rice', cursive;

font-family: 'Original Surfer', cursive;*/
