<h1>LET'S PLAY!!!!!</h1>
<!-- this just shows the inputs -->
<!-- <div class="well" ng-repeat="game in play.games">
  {{game[0]}}
  <br />
  {{game[1]}}
  <br />
  {{game[2]}}
  <br />
  {{game[3]}}
  <br />
</div> -->
<!-- this shows all the information as JSON object -->
<div class="well" ng-repeat="category in play.categories">
  <h3>{{category.value}}</h3>
  <br />
  {{category.optionOne}}
    <br />
  {{category.optionTwo}}
    <br />
  {{category.optionThree}}
    <br />
  {{category.optionFour}}
    <br />

</div>
<button class="btn" ng-click="play.getResults()">TELL MY STORY!</button>
