<div class="jumbotron">
  <h2>Enter your dreams below</h2>
</div>
  <div class="flex">
    <div class="well" id="inputBox" ng-repeat="genre in input.genres track by $index">
      {{genre}}
      <br />
      <input type="text" maxlength="100" ng-model="input.entry[$index + 'a']" />
      <!-- <input type="checkbox" ng-model="newObject[item.name]"> -->
      <br />
      <input type="text" maxlength="100" ng-model="input.entry[$index + 'b']" />
      <br />
      <input type="text" maxlength="100" ng-model="input.entry[$index + 'c']" />
      <br />
      <input type="text" maxlength="100" ng-model="input.entry[$index + 'd']" />
      <br />
      <button class="btn" ng-click="getRandom()">RANDOMIZE ME</button>
    </div>

  </div>
  <button class="btn" ng-click="input.userInput()">LET'S GO!</button>
