<h1>LET'S PLAY!!!!!</h1>
<button class="btn" ng-click="play.startGame()">START THE GAME</button>
<br />
<div class="flex">
  <div class="displayCategories col-md-4" ng-repeat="category in play.categories">
    <div class="well">
      <h3 class="catName">{{category.value}}</h3>
      <br />
      {{category.optionOne}}
        <br />
      {{category.optionTwo}}
        <br />
      {{category.optionThree}}
        <br />
      {{category.optionFour}}
        <br />
    </div>
  </div>
</div>
<br />
