<div class="container">
  <div class="well">

    <h2>How to Play:</h2>

    {{home.rules}}
  </div>

  <div class="well">

      <label>Superpower
        <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.superpower" />
      </label>
      <br />
      <label>Pet
        <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.pet" />
      </label>
      <br />
      <label>Live
        <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.live" />
      </label>
      <br />
      <label>Love
        <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.love" />
      </label>
      <br />
      <label>What's your ride?
        <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.ride" />
      </label>
      <br />
      <label>Job
        <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.job" />
      </label>
      <br />
      <label>Adventure
        <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.adventure" />
      </label>
      <br />
      <label>Who will play you in a movie?
        <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.movie" />
      </label>
      <br />
      <label>What's the title of your biography?
        <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.biography" />
      </label>
      <br />
      <label>What's your campaign slogan?
        <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.campaign" />
      </label>
      <br />

      {{home.workingCategories}}
      <!-- <label>Superpower
      <input type="checkbox" ng-model="home.superpower.val" id="superpower"/>
      </label>
      <br />
      <input type="checkbox" ng-model="home.pet.val" id="pet"/>
      <label>Pet</label>
        <br />
      <input type="checkbox" ng-model="home.live.val" id="live"/>
      <label>Place to Live</label>
        <br />
      <input type="checkbox" ng-model="home.job.val" id="job"/>
      <label>Job</label>
        <br />
      <input type="checkbox" ng-model="home.ride.val" id="ride"/>
      <label>What's your ride?</label>
        <br />
      <input type="checkbox" ng-model="home.adventure.val" id="adventure"/>
      <label>Adventure</label>
        <br />
      <input type="checkbox" ng-model="home.love.val" id="love">
      <label>Who do you love?</label>
        <br />
      <input type="checkbox" ng-model="home.movie.val" id="movie"/>
      <label>Who will play you in a movie?</label>
        <br />
      <input type="checkbox" ng-model="home.biography.val" id="biography"/>
      <label>What is the title of your biography?</label>
        <br />
      <input type="checkbox" ng-model="home.campaign.val" id="campaign"/>
      <label>What is your campaign slogan?</label>
        <br /> -->


  </div>
</div>

<button class="btn" ng-click="home.enterInputs()">ENTER YOUR CHOICES!</button>
