  <div class="well">

    <h2>How to Play:</h2>

    {{home.rules}}
  </div>

  <div class="well" id="checkbox">
      <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.superpower" />
      <label>What will your superpower be?</label>
      <br />
      <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.pet" />
      <label>What creature will be your pet?</label>
      <br />
      <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.live" />
      <label>Where will you live?</label>
      <br />
      <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.like" />
      <label>Who do you like?</label>
      <br />
      <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.ride" />
      <label>What's your ride?</label>
      <br />
      <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.job" />
      <label>What job will you have?</label>
      <br />
      <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.adventure" />
      <label>What adventure will you go on?</label>
      <br />
      <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.movie" />
      <label>Who will play you in a movie?</label>
      <br />
      <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.biography" />
      <label>What will be the title of your biography?</label>
      <br />
      <input type="checkbox" name="categories" ng-model="home.workingCategories.categories.campaign" />
      <label>What will be your campaign slogan?</label>
      <br />
      <button class="btn" ng-click="home.enterInputs()">ENTER YOUR CHOICES!</button>
  </div>
